version: '0.1'
services:
  db:
    container_name: giame-debian-server
    image: mysql:8.0.32-debian
    ports:
      - "3306:3306"
      - "8081:8081"
    restart: always
    build: ./
    environment:
      MYSQL_USER: 'ukanda'
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./giame-server:/etc/giame
      - my-db:/var/lib/mysql  
    
volumes:
  my-db:
  giame-server:
